<style>
    #tablabr{
        background-color: cornflowerblue;
        color: cornflowerblue;
        width: 1850px;
        height: 75px;
    }
    #body{
        background-color: cyan;
    }
    
    #label{
        font-size: 15px;
        color: black;
    }

    #h1{
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>


<body>
    
    <table border="1">
        <tr>
            <td>
                <label id="label" for="cargar">Carga las obras de arte aquí</label>
                
            </td>
            <td>
                <pre>
                    <p-fileUpload name="myfile[]" url="./upload.php"></p-fileUpload>
                </pre>
            </td>
        </tr>
        <br/>
        <tr>
            <td>
                <label id="label" for="cargar">Ingrese descripción de la obra</label>                                
            </td>
            <td>
                <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>

            </td>
        </tr>
    </table>

    <br/>

    <table id="tablabr">
        <tr>
            <td>
                <button pButton type="button" class="p-button-raised p-button-rounded" id="botonr" (click)="abrir()">Regresar</button>
            </td>
        </tr>
    </table>
</body>