<style>
    #tablabr{
        background-color: cornflowerblue;
        color: cornflowerblue;
        width: 1850px;
        height: 75px;
    }
    #body{
        background-color: cyan;
    }


    #h1{
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>


<!--
 #botonr{
        background-color: rgb(48, 75, 167);
        color: white;
        font-size: 20px;
        width: auto;
        height: 55px;
        border-top: lawngreen;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        margin-left: 15px;
        border-radius: 10px;
    }
-->

<body>
    <div class="boton-item">
        <table id="tablabr">
            <tr>
                <td>
                    <button pButton type="button" class="p-button-raised p-button-rounded" id="botonr" (click)="abrir()">Regresar</button>
                </td>
            </tr>
        </table>
    </div>
    <br/>

    <h1>Aqui van las obras de arte</h1>
</body>