<style>
    #tablabr{
        background-color: cornflowerblue;
        color: cornflowerblue;
        width: 1850px;
        height: 75px;
    }
    #body{
        background-color: cyan;
    }


    #h1{
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>
<body>
    <div class="boton-item">
        <table id="tablabr">
            <tr>
                <td>
                    <button pButton type="button" class="p-button-raised p-button-rounded" id="botonr" (click)="abrir()">Regresar</button>
                </td>
            </tr>
        </table>
    </div>
    <br/>

    <h1>Aqui van las obras de arte</h1>
    <div class="busqueda">
        
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText> 
            <label for="float-input">Nombre de la obra</label>
        </span>
        <br/>
        <button pButton type="button" class="p-button-raised p-button-rounded" id="botonr">Buscar</button>
                
        
    </div>
    <br/>

    <div class="obra">

        <img>                       
        
    </div>
    <br/>
    <div>
        <table align="center" border="1" width="720">
            <tr>
                <th colspan="6">
                    <h1>Informacion</h1>
                </th>
            </tr>
            <tr>
                <th>
                    <h3>#</h3>
                </th>
                <th>
                    <h3>Título</h3>
                </th>
                <th>
                    <h3>Autor</h3>
                </th>
                <th>
                    <h3>Año de Creación</h3>
                </th>
                <th>
                    <h3>Descripción</h3>
                </th>
                <th>
                    <h3>Imágen</h3>
                </th>                
            </tr>
            <tr>
                <td>
             d       
                </td>
                <td>
d
                </td>
                <td>
d
                </td>
                <td>
d
                </td>
                <td>
d
                </td>
                <td>
d
                </td>
            </tr>
            <tr>
                <td>
             d       
                </td>
                <td>
d
                </td>
                <td>
d
                </td>
                <td>
d
                </td>
                <td>
d
                </td>
                <td>
d
                </td>
            </tr>
            <tr>
                <td>
             d       
                </td>
                <td>
d
                </td>
                <td>
d
                </td>
                <td>
d
                </td>
                <td>
d
                </td>
                <td>
d
                </td>
            </tr>
        </table>
    </div>
</body>